.container-gallery {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 150px;
}

.photo-card {
  width: calc((100% - 60px) / 3);
  border: solid 1px rgb(158, 158, 158);
}

.photo-image {
  height: 230px;
  object-fit: cover;
}

.info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.info-item:not(:last-child) {
  margin-right: 10px;
}

.info-item {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(122, 191, 255);
  border-radius: 20px;
  width: 130px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 45px auto;
  &:hover {
    background-color: rgb(255, 242, 123);
  }
}

.load-more.is-hidden {
  display: none;
}
